<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="brand" style="text-align: left;">
      <img src="../../assets/img/logo_negro.png" alt="" style="float: right;height: 40px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="header-content">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button size="small" href="javascript:;" color="light" style="float: right;" (click)="irAHome()">
          Volver
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1>Pagar orden</h1>
  <span class="separador-horizontal"></span>
  
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col style="text-align: center;">
        <img src="../../assets/img/pago-exitoso.png" alt="" style="height: 135px;">
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <p style="text-align: center; margin: 0;">¡Pago realizado con éxito!</p>
    <p style="text-align: center; font-size: 13px; margin-bottom: 25px;">Muchas gracias por su compra, vuelva pronto.</p>
    <ion-button expand="full" (click)="irAIngreso()">
      Finalizar
    </ion-button>
  </ion-grid>

</ion-content>
