<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="brand" style="text-align: left;">
      <img src="../../assets/img/logo_negro.png" alt="" style="float: right;height: 40px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="header-content">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button size="small" href="/home" color="light" style="float: right;">Volver</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1>Carta</h1>
  <p class="subtitle-page">Conozca aquí nuestra gran variedad de productos de origen 100% chileno. Puedes encontrar nuestros menús sugeridos o ¡pedir productos a tu gusto!</p>
  <span class="separador-horizontal"></span>
  
  <ion-grid>
    <ion-row *ngFor="let categoria of categorias">
      <ion-col class="home-card" [ngStyle]="{'background-image':'url(../../assets/img/'+categoria.IMAGEN+') no-repeat center','background-size': 'cover'}">
        <div class="opacity-card"></div>
        <a href="/product-list/{{ categoria.ID_CATEGORIA_PLATO }}">{{ categoria.DESCRIPCION }} {{categoria.IMAGEN}}</a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" size="small">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
    