<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="brand" style="text-align: left;">
      <img src="../../assets/img/logo_negro.png" alt="" style="float: right;height: 40px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><h1>Carta</h1></ion-col>
      <ion-col>
        <ion-button size="small" href="/home" color="light" style="float: right;">Volver</ion-button>
      </ion-col>
    </ion-row>
    <span class="separador-horizontal"></span>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col class="home-card-1">
        <div class="opacity-card"></div>
        <a href="/product-list">Aperitivos y Entrantes</a>
      </ion-col>
      <ion-col class="home-card-2">
        <div class="opacity-card"></div>
        <a href="/product-list">Fondo</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="home-card-3">
        <div class="opacity-card"></div>
        <a href="/product-list">Bebidas y Licores</a>
      </ion-col>
      <ion-col class="home-card-4">
        <div class="opacity-card"></div>
        <a href="/product-list">Postres</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
    