h1{
  margin-top: 5px;
  margin-bottom: 0;
}
@mixin todo-ancho-largo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@mixin home-card() {
  display: block;
  width: 200px;
  height: 200px;
  list-style: none;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  a{
    @include todo-ancho-largo();
    z-index: 1;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 95px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
  }
  .opacity-card{
    @include todo-ancho-largo();
    background-color: #000;
    opacity: 0.5;
    border-radius: 5px;
  }
}

.home-card-1{
  @include home-card();
  background: url(../../assets/img/carta-aperitivos_y_entrantes.jpg) no-repeat center ;
  background-size: cover;
  margin-right: 5px;
}
.home-card-2{
  @include home-card();
  background: url(../../assets/img/carta-fondo.jpg) no-repeat center ;
  background-size: cover;
}
.home-card-3{
  @include home-card();
  background: url(../../assets/img/carta-bebestibles.jpg) no-repeat center ;
  background-size: cover;
  margin-right: 5px;
}
.home-card-4{
  @include home-card();
  background: url(../../assets/img/carta-postres.jpg) no-repeat center ;
  background-size: cover;
}