h1{
    padding: 5px;
    margin-top: 5px;
}
.header-content{
    background: url(../../assets/img/header-productos.jpg) no-repeat center center;
    background-size: cover;
    height: 117px;
}
.listado-productos{
    list-style: none;
    font-size: 10px;
    padding: 5px;
    li{
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px 0 10px 100px;
        border-top: 1px solid #ddd;

        .producto-informacion{

            .producto-nombre{
                font-weight: bold;
                font-size: 11px;
                margin: 0;
            }
            .producto-descripcion{
                height: 30px;
                max-height: 35px;
            }
            ion-button{
                position: absolute;
                bottom: 5px;
                right: 5px;
                font-size: 10px;
                min-width: 85px;
            }
            .producto-precio{
                position: absolute;
                left: 100px;
                bottom: 15px;
                width: 90px;
                font-size: 11px;
            }
        }
        .producto-img{
            position: absolute;
            left: 5px;
            top: 8px;

            img{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-size: cover;
                width: 85px;
                height: 85px;
            }
        }
    }
}