<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="brand" style="text-align: left;">
      <img src="../../assets/img/logo_negro.png" alt="" style="float: right;height: 40px;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="home-card-1">
        <div class="opacity-card"></div>
        <a href="/carta">Ver carta</a>
      </ion-col>
      <ion-col class="home-card-2">
        <div class="opacity-card"></div>
        <a href="javascript:;">Ver estado de orden</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="home-card-3">
        <div class="opacity-card"></div>
        <a href="javascript:;">Llamar garzón</a>
      </ion-col>
      <ion-col class="home-card-4">
        <div class="opacity-card"></div>
        <a href="javascript:;">Pagar orden</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
